.outer
{
  width: 100svw;
  height: 100svh;
  background: #F4F6F7;
  padding-top: 60px;
}
.header {
    height: 60px;
    padding: 0 30px 0 30px;
    display: flex;
    justify-content: flex-end;
    gap:20px;
    z-index: 1000;
    align-items: center;
  }

  .underline
  {
   border: 2px solid red;
  }

  .cover-image
  {
    background-image: url('../../assets/cover.jpg');
    background-size: cover; /* or background-size: contain; */
    background-position: center center;
    background-repeat: no-repeat;
  }
  .post-details-user-image
{
  height: 30px;
  width: 30px;
  border: 0;
  border-radius: 50%;
  cursor: pointer;
}
.like-container:hover svg path
{
  stroke: orange;
}
.comment-container:hover svg path
{
  stroke: blue;
}
.save-container:hover svg path
{
  stroke: #4dfa5c;
}
.comments-modal
{
width: 100svw;
height: 100svh;
background-color: rgba(0, 0,0, 0.6);
display: flex;
justify-content: center;
align-items: center;
position: fixed;
z-index: 2000;
top:0;
}

.skeleton-loader
{
  animation: skeleton 1s infinite linear alternate;
}

@keyframes
skeleton
{
  0%{
    background: hsl(200, 20%, 70%);
  }
  100%{
    background: hsl(200, 17%, 80%);
  }
}